*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/storage/*
!server/storage/.gitkeep
.env
vagrant-config.json
.vagrant
.vscode
.additional-scripts-run

client/src/**/*
