
.button, %button {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
}
