<!DOCTYPE html>
<!--if IE 9html.no-js.lt-ie10.ie9(lang="en") -->
<!-- [if gt IE 9] <!-->
<html class="no-js" lang="en">
<!-- <![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Not found.</title>
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 100px;
      color: #e4e4e4;
      font-family: sans-serif;
      font-weight: 100;
    }
  </style>
</head>
<body>
  <div>404</div>
</body>
</html>
